<p>Treinamento iOS para novos estagiários do NATI. (backend)</p>
<p>App: Lista de contatos:</p>
<ul>
<li>
<p>Criar usuário</p>
</li>
<li>
<p>Login</p>
</li>
<li>
<p>Logout</p>
</li>
<li>
<p>Criar contato</p>
</li>
<li>
<p>Listar contatos</p>
</li>
<li>
<p>Editar contato</p>
</li>
<li>
<p>Excluir contato</p>
</li>
</ul>